<section class="about">
    <h1 class="text-center mx-auto">About</h1>
    <br>
    <p>During this ongoing pandemic, some of the more immediate questions many of us are asking every time we venture outside are, "Will I catch COVID?" and "How can I minimize my risk of catching COVID?"
    <p>Inspired by these questions, we created an app called CrowdAI, which offers real-time streaming analytics and visualization tools to help users and business or government entities to make safer and smarter decisions. Not only can it help answer those questions so that we can make more informed decisions, but it can also have broader applications in domains like real-time traffic monitoring, logistics management, urban planning, location-based security, and more.
    <p>With our app, people can:
    <ul>
        <li>monitor area crowding, crowd flow, and venue capacity by numbers/li> 
        <li>quickly assess area safety by determining whether users can practice safe social distancing</li> 
        <li>and anticipate potential threats by determining whether other individuals in the area are wearing masks</li>
    </ul>
</section>