.login-page {
    background-color: #000000;
    padding: 150px 100px;
}

.login {
    background-color: #EFF6FF;
    padding: 20px 30px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .login-page {
        padding: 150px 20px;
    }
}